* {
    color: aliceblue
}

body {
    background-image: linear-gradient(to right, rgb(17, 16, 16), rgb(36, 36, 119)) !important;
}

.player-icon:hover {
    color: grey !important;
    transition: 0.3s;
}

.player-icon,
.computer-icon {
    margin-right: 20px;
}



/* Common rotation animation */
@keyframes rotateEmoji {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-80deg)
    }
}

/* Scissors animation: cutting and nodding */
@keyframes computerAnimation {

    0%,
    100% {
        transform: rotate(-80deg) scale(1)
    }

    25%,
    75% {
        transform: rotate(-85deg) scale(1.1)
    }

    50% {
        transform: rotate(-90deg) scale(1)
    }
}

/* Apply animations to each emoji */
.icon-computer-animation {
    animation: rotateIcon 1s ease-out, computerAnimation 0.6s ease-in-out infinite;
}

.js-result {
    position: relative;
    top: 170px;
    font-family: "Lobster", sans-serif;
    color: black !important;
    left: 147px;
    box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.82);
}

.js-score {
    position: relative;
    right: 50px;
    font-family: "lobster", sans-serif;
    bottom: 50px;
}

.reset-btn {
    height: 40px;
    width: 40px;
    border-radius: 10px;
    position: relative;
    left: 95%;
    bottom: 200px;
    background-color: rgb(58, 56, 56);
    box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.82);
}

.reset-btn i {
    font-size: 20px;
    color: black;
}

